src/conf/xml-resources/web-service-references/bookApp_1/wsdl/localhost_8080/WSAssignment/bookApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.assign.uts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.assign.uts/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="addBooks" type="tns:addBooks"/>

<xs:element name="addBooksResponse" type="tns:addBooksResponse"/>

<xs:element name="book" type="tns:book"/>

<xs:element name="books" type="tns:books"/>

<xs:element name="deleteBook" type="tns:deleteBook"/>

<xs:element name="deleteBookResponse" type="tns:deleteBookResponse"/>

<xs:element name="fetchArray" type="tns:fetchArray"/>

<xs:element name="fetchArrayResponse" type="tns:fetchArrayResponse"/>

<xs:element name="fetchBooks" type="tns:fetchBooks"/>

<xs:element name="fetchBooksResponse" type="tns:fetchBooksResponse"/>

<xs:complexType name="fetchArray">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchArrayResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="abstract" type="xs:string" minOccurs="0"/>
<xs:element name="pubInfo" type="xs:string" minOccurs="0"/>
<xs:element name="condition" type="xs:string" minOccurs="0"/>
<xs:element name="lister" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBook">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addBooks">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBooksResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>