web/WEB-INF/wsdl/localhost_8080/WSAssignment/bookApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.assign.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.assign.uts/" name="bookApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.assign.uts/" schemaLocation="http://localhost:8080/WSAssignment/bookApp?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook"/>
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addBooks">
<part name="parameters" element="tns:addBooks"/>
</message>
<message name="addBooksResponse">
<part name="parameters" element="tns:addBooksResponse"/>
</message>
<message name="fetchBooks">
<part name="parameters" element="tns:fetchBooks"/>
</message>
<message name="fetchBooksResponse">
<part name="parameters" element="tns:fetchBooksResponse"/>
</message>
<portType name="BookSOAP">
<operation name="deleteBook">
<input wsam:Action="http://soap.assign.uts/BookSOAP/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://soap.assign.uts/BookSOAP/deleteBookResponse" message="tns:deleteBookResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.assign.uts/BookSOAP/deleteBook/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.assign.uts/BookSOAP/deleteBook/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.assign.uts/BookSOAP/deleteBook/Fault/Exception"/>
</operation>
<operation name="addBooks">
<input wsam:Action="http://soap.assign.uts/BookSOAP/addBooksRequest" message="tns:addBooks"/>
<output wsam:Action="http://soap.assign.uts/BookSOAP/addBooksResponse" message="tns:addBooksResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.assign.uts/BookSOAP/addBooks/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.assign.uts/BookSOAP/addBooks/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.assign.uts/BookSOAP/addBooks/Fault/Exception"/>
</operation>
<operation name="fetchBooks">
<input wsam:Action="http://soap.assign.uts/BookSOAP/fetchBooksRequest" message="tns:fetchBooks"/>
<output wsam:Action="http://soap.assign.uts/BookSOAP/fetchBooksResponse" message="tns:fetchBooksResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.assign.uts/BookSOAP/fetchBooks/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.assign.uts/BookSOAP/fetchBooks/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.assign.uts/BookSOAP/fetchBooks/Fault/Exception"/>
</operation>
</portType>
<binding name="BookSOAPPortBinding" type="tns:BookSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="bookApp">
<port name="BookSOAPPort" binding="tns:BookSOAPPortBinding">
<soap:address location="http://localhost:8080/WSAssignment/bookApp"/>
</port>
</service>
</definitions>