src/conf/xml-resources/web-service-references/diaryApp/wsdl/localhost_8080/wsassignment/diaryApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.assign.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.assign.uts/" name="diaryApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.assign.uts/" schemaLocation="http://localhost:8080/wsassignment/diaryApp?xsd=1"/>
</xsd:schema>
</types>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<portType name="DiarySOAP">
<operation name="loginUser">
<input wsam:Action="http://soap.assign.uts/DiarySOAP/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://soap.assign.uts/DiarySOAP/loginUserResponse" message="tns:loginUserResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.assign.uts/DiarySOAP/loginUser/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.assign.uts/DiarySOAP/loginUser/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.assign.uts/DiarySOAP/loginUser/Fault/Exception"/>
</operation>
<operation name="fetchUsers">
<input wsam:Action="http://soap.assign.uts/DiarySOAP/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap.assign.uts/DiarySOAP/fetchUsersResponse" message="tns:fetchUsersResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.assign.uts/DiarySOAP/fetchUsers/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.assign.uts/DiarySOAP/fetchUsers/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.assign.uts/DiarySOAP/fetchUsers/Fault/Exception"/>
</operation>
</portType>
<binding name="DiarySOAPPortBinding" type="tns:DiarySOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="diaryApp">
<port name="DiarySOAPPort" binding="tns:DiarySOAPPortBinding">
<soap:address location="http://localhost:8080/wsassignment/diaryApp"/>
</port>
</service>
</definitions>